openapi: 3.0.3
info:
  title: TIAA Financial Data Exchange Accounts Tax API
  description: The TIAA Financial Data Exchange (FDX) API provides authorized fintechs and financial aggregators with secure access to customer account data, including balances, transactions, investment positions, and income information from TIAA retirement and brokerage accounts. This API is built on the FDX open standard (v6.x) and uses OAuth 2.0 for customer-consented data sharing.
  version: '6.0'
  contact:
    name: TIAA Developer Support
    url: https://developer.tiaa.org/public/fdx
  termsOfService: https://developer.tiaa.org/public/terms
  license:
    name: TIAA API License
    url: https://developer.tiaa.org/public/terms
servers:
- url: https://api.tiaa.org/fdx/v6
  description: TIAA FDX Production API
tags:
- name: Tax
  description: Tax document and income data
paths:
  /tax-forms:
    get:
      operationId: listTaxForms
      summary: List Tax Forms
      description: Returns available tax documents (1099-R, 5498, etc.) for the customer.
      tags:
      - Tax
      security:
      - OAuth2: []
      parameters:
      - name: taxYear
        in: query
        schema:
          type: integer
        description: Filter by tax year
      responses:
        '200':
          description: Tax form list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxFormList'
components:
  schemas:
    TaxForm:
      type: object
      properties:
        taxFormId:
          type: string
        formType:
          type: string
          enum:
          - 1099-R
          - 5498
          - 1099-INT
          - 1099-DIV
        taxYear:
          type: integer
        accountId:
          type: string
        issuedDate:
          type: string
          format: date
        downloadUrl:
          type: string
          format: uri
    TaxFormList:
      type: object
      properties:
        taxForms:
          type: array
          items:
            $ref: '#/components/schemas/TaxForm'
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.tiaa.org/oauth2/authorize
          tokenUrl: https://auth.tiaa.org/oauth2/token
          scopes:
            openid: OpenID Connect
            profile: Customer profile
            accounts: Account data access
            transactions: Transaction data access
            investments: Investment data access
            tax: Tax document access
