openapi: 3.2.0
info:
  title: TIAA Secure Income Account Plans API
  description: The TIAA Secure Income Account (SIA) API enables recordkeepers and plan administrators to integrate TIAA's guaranteed lifetime income product into custom target-date model portfolios and managed account solutions. The SIA API supports participant account setup, contribution management, allocation updates, and income projection calculations for defined contribution plans. Authentication uses OAuth 2.0 Client Credentials Flow.
  version: '1.0'
  contact:
    name: TIAA Developer Support
    url: https://developer.tiaa.org/public/sia
servers:
- url: https://api.tiaa.org/sia/v1
  description: TIAA SIA Production API
tags:
- name: Plans
  description: Plan configuration and eligibility
paths:
  /plans/{planId}:
    get:
      operationId: getPlan
      summary: Get Plan Details
      description: Returns SIA configuration and eligibility rules for a specific plan.
      tags:
      - Plans
      security:
      - ClientCredentials: []
      parameters:
      - name: planId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Plan details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
components:
  schemas:
    Plan:
      type: object
      properties:
        planId:
          type: string
        planName:
          type: string
        planType:
          type: string
          enum:
          - 401k
          - 403b
          - 457b
          - QDRO
        siaEnabled:
          type: boolean
        eligibilityRules:
          type: object
          properties:
            minimumAge:
              type: integer
            minimumServiceMonths:
              type: integer
            employeeClassesEligible:
              type: array
              items:
                type: string
        maxAllocationPercentage:
          type: number
          format: double
        minAllocationPercentage:
          type: number
          format: double
  securitySchemes:
    ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.tiaa.org/oauth2/token
          scopes:
            sia:read: Read SIA data
            sia:write: Write SIA data
