openapi: 3.2.0
info:
  title: TIAA Secure Income Account Contributions API
  description: The TIAA Secure Income Account (SIA) API enables recordkeepers and plan administrators to integrate TIAA's guaranteed lifetime income product into custom target-date model portfolios and managed account solutions. The SIA API supports participant account setup, contribution management, allocation updates, and income projection calculations for defined contribution plans. Authentication uses OAuth 2.0 Client Credentials Flow.
  version: '1.0'
  contact:
    name: TIAA Developer Support
    url: https://developer.tiaa.org/public/sia
servers:
- url: https://api.tiaa.org/sia/v1
  description: TIAA SIA Production API
tags:
- name: Contributions
  description: Contribution and allocation management
paths:
  /plans/{planId}/contributions:
    post:
      operationId: submitContribution
      summary: Submit Contribution
      description: Submits a contribution or allocation to a participant's SIA account.
      tags:
      - Contributions
      security:
      - ClientCredentials: []
      parameters:
      - name: planId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contribution'
      responses:
        '200':
          description: Contribution submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContributionResult'
        '400':
          description: Invalid contribution data
components:
  schemas:
    ContributionResult:
      type: object
      properties:
        confirmationId:
          type: string
        participantId:
          type: string
        amount:
          type: number
          format: double
        processedDate:
          type: string
          format: date-time
        status:
          type: string
          enum:
          - ACCEPTED
          - PENDING
          - REJECTED
    Contribution:
      type: object
      required:
      - participantId
      - amount
      - contributionType
      properties:
        participantId:
          type: string
        amount:
          type: number
          format: double
        contributionType:
          type: string
          enum:
          - EMPLOYEE
          - EMPLOYER
          - ROLLOVER
        payrollDate:
          type: string
          format: date
        allocationPercentage:
          type: number
          format: double
  securitySchemes:
    ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.tiaa.org/oauth2/token
          scopes:
            sia:read: Read SIA data
            sia:write: Write SIA data
