openapi: 3.2.0
info:
  title: TIAA Secure Income Account Projections API
  description: The TIAA Secure Income Account (SIA) API enables recordkeepers and plan administrators to integrate TIAA's guaranteed lifetime income product into custom target-date model portfolios and managed account solutions. The SIA API supports participant account setup, contribution management, allocation updates, and income projection calculations for defined contribution plans. Authentication uses OAuth 2.0 Client Credentials Flow.
  version: '1.0'
  contact:
    name: TIAA Developer Support
    url: https://developer.tiaa.org/public/sia
servers:
- url: https://api.tiaa.org/sia/v1
  description: TIAA SIA Production API
tags:
- name: Projections
  description: Income projections and illustrations
paths:
  /plans/{planId}/participants/{participantId}/projections:
    get:
      operationId: getIncomeProjection
      summary: Get Income Projection
      description: Returns projected lifetime income amounts for a participant based on current balance and future contributions.
      tags:
      - Projections
      security:
      - ClientCredentials: []
      parameters:
      - name: planId
        in: path
        required: true
        schema:
          type: string
      - name: participantId
        in: path
        required: true
        schema:
          type: string
      - name: retirementAge
        in: query
        schema:
          type: integer
        description: Target retirement age for projection
      - name: projectionDate
        in: query
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Income projection data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomeProjection'
components:
  schemas:
    IncomeProjection:
      type: object
      properties:
        participantId:
          type: string
        currentBalance:
          type: number
          format: double
        projectedRetirementAge:
          type: integer
        monthlyIncomeProjection:
          type: number
          format: double
          description: Estimated monthly lifetime income at retirement
        annualIncomeProjection:
          type: number
          format: double
        projectionDate:
          type: string
          format: date
        assumptions:
          type: object
          properties:
            discountRate:
              type: number
              format: double
            mortalityTable:
              type: string
            inflationRate:
              type: number
              format: double
  securitySchemes:
    ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.tiaa.org/oauth2/token
          scopes:
            sia:read: Read SIA data
            sia:write: Write SIA data
